/*
* win time mixin
*/

/*
*[hover]
* @include hover(){...}
*/

@mixin hover() {
    &:active,
    &:focus,
    &:hover {
        @content;
    }
}

/*
*[pseudo element basic]
* @include pseudo()
*/

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

/*
*[placeholder]
* @include placeholder() {...}
*/
@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}


/*
*[flex]
* @include flex()
* OR
* @include flex(column, space-around, center);
*/
@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

/*
*[button a]
* @include abutton()
* OR
* @include abutton($color: red, $left: 20px);
*/
@mixin abutton($display: block, $color: #FFF, $bg: #000, $w: auto, $up: 10px, $left: 10px) {
		display: $display;
		background-color: $bg;
		color: $color;
		width: $w;
		padding: $up $left
}

/*
*[border]
* @include border()
* OR
* @include border($w: 50%);
*/
@mixin border($bg: #000, $h : 4px, $w: 20%) {
		background-color: $bg;
		height: $h;
		width: $w;
}

/*
*[txt]
* @include txt()
* OR
* @include txt($size: 50px, $ply: $font-bold)
*/
@mixin txt($font: false, $size : false, $color: false, $ply: false, $lh: false) {
		@if $font { font-family: $font; }
		@if $size { font-size: $size; }
		@if $color { color: $color; }
		@if $ply { font-weight: $ply; }
		@if $lh { line-height: $lh; }
}
