/*
* font config  
*/

/* [font family] */
$font-title: 'greycliff', sans-serif;
$font-courant: 'Open Sans', sans-serif;;

/* [font family] */
$size-courant: 12px;
$size-h4: 16px;
$size-h3: 20px;
$size-h2: 25px;
$size-h1: 30px;
$size-big: 40px;

/* [font family] */
$font-thin:        100;
$font-extra-light: 200;
$font-light:       300;
$font-regular:     400;
$font-medium:      500;
$font-semi-bold:   600;
$font-bold:        700;
$font-extra-bold:  800;
$font-black:       900;